{{- $choices := list "foot*:Tc" "screen-256color" -}}
{{- $tmux_terminal := promptChoice "What is tmux default terminal" $choices "foot*:Tc" -}}

{{- $email := promptString "What is the users email" "rasmus@bertell.fi" -}}

git:
        autoAdd:    true
        autoCommit: true
        autoPush:   true

diff:
        command: "nvim"
        args:
                - "-d"
                - "{{ "{{" }} .Destination {{ "}}" }}"
                - "{{ "{{" }} .Target {{ "}}" }}"

merge:
        command: "nvim"
        args:
                - "-d"
                - "{{ "{{" }} .Destination {{ "}}" }}"
                - "{{ "{{" }} .Source {{ "}}" }}"
                - "{{ "{{" }} .Target {{ "}}" }}"

data:
        user:
                email: {{ $email | quote }}
                gpg_home: "TODO: get it with `gpgconf --list-dirs socketdir | sed 's/.*\///'`"
        tmux:
                terminal: {{ $tmux_terminal | quote }}
