{{- $choices := list "foot*:Tc" "screen-256color" -}}
{{- $tmux_terminal := promptChoice "What is tmux default terminal" $choices -}}

{{- $email := promptString "email" -}}

data:
        user:
                email: {{ $email | quote }}
        tmux:
                default_terminal: {{ $tmux_terminal | quote }}
