[user]
        name  = Rasmus Bertell
        email = {{ email }}

[diff]
        tool = nvimdiff

[difftool]
        prompt = false

[merge]
	tool = nvimdiff

[mergetool]
        prompt = false

[difftool "nvimdiff"]
        cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[mergetool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c 'wincmd w' -c 'wincmd J'"
